.heading {
    background-color: orange;
    color: white;
    margin: 10px;
    padding: 10px;
    transition: 1s;
  }

.spinBin {
    transition: 1s;
    transform: rotate(360deg);
    width: 100px;    
    transition-delay: 1s;
}

#outputDiv {
    background-color: orange;
    color: white;
    position: relative;
}

div {
    margin: 10px;
}

#savedDiv {
    background-color: lightgreen;
    color:white;
}

.checkButton {
    background-color: Orange;
    border: none;
    color: white;
    padding: 16px 32px;
    height: 100px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    transition: 1s;
  }

.checkButton:hover {opacity: 0;}


.headerChange {
    transform: rotate(20deg);
    background-color: red;
    color: white;
}

/*------Save Joke Transition/Animations*/
@-webkit-keyframes myJoke{
    from {top: 0px;}
    to {top: 200px;}
    20% {width: 75%; height: 50px; font-size: 50%; left: 5px;}
    35% {width: 25%; height: 25px; background-color: green; font-size: 20%; left: 15px;} 
    75% {width: 10%; height: 10px; background-color: lightgreen; font-size: 5%; left: 35px;}
    100% {width: 0%; height: 0px; background-color: lightgreen; font-size: 0%; left: 70px;}
}

@keyframes myJoke {
    from {top: 0px;}
    to {top: 200px;}
    20% {width: 75%; height: 50px; font-size: 50%; left: 5px;}
    35% {width: 25%; height: 25px; background-color: green; font-size: 20%; left: 15px;} 
    75% {width: 10%; height: 10px; background-color: lightgreen; font-size: 5%; left: 35px;}
    100% {width: 0%; height: 0px; background-color: lightgreen; font-size: 0%; left: 70px;}
  }

/*------Save Bar Transitions/Animations*/
@-webkit-keyframes loadBar{
    20% {width: 71%; height: 50%; font-size: 50px; left: 5px;}
    35% {width: 71%; height: 50%; background-color: red; font-size: 50px;} 
    65% {width: 71%; height: 50%; background-color: lightgreen; font-size: 50px;}
    80% {width: 71%; height: 50%; background-color: lightgreen; font-size: 50px;}
}

@keyframes loadBar {
    20% {width: 71%; height: 50%; font-size: 50px}
    35% {width: 71%; height: 50%; background-color: red; font-size: 50px;} 
    65% {width: 71%; height: 50%; background-color: lightgreen; font-size: 50px;}
    80% {width: 71%; height: 50%; background-color: lightgreen; font-size: 50px;}
  }





/*------Gridd Container*/
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 30px;
  }
  
  .menu {
    grid-area: 1 / 1/ 2 / 2;
    width: 300px;
  }

.jokeButton {
    width: 300px;
    grid-area: 2 / 1/ 3/ 2;
  }

.loadBar {
    width: 300px;
    min-height: 60px;
  }

.jokeDiv {
    width: 300px;
    grid-area: 3 / 1/ 4/ 2;
  }

.hoverButton {
width: 300px;
grid-area: 2/3/3/4;
}
.jokesSaved {
    width: 300px;
    grid-area: 3/3/4/4;
    transition: 1s;
    opacity: 1;
}

#jokesSaved {
    grid-area: 3/3/4/4;
}

.prompt {
    width: 300px;
    grid-area: 2 / 2/ 3/ 3;
  }
